body {
    background-color:rgb(125, 191, 194) ;
    font-family:futura, monospace, sans-serif;
}




h1 {
    color:rgb(240, 195, 48);
    text-align: center;
}


h3 {
	color: rgba(219, 42, 26, 0.702);
	display: flex;
	justify-content: center;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: 0.25em;
	border-radius: 1.25em;
}


.header{
	/* background-color: rgb(255, 233, 205); */
	color: rgba(219, 42, 26, 0.702);

	display: flex;
	justify-content: center;
	white-space: nowrap ;

}



.infiniteFlight{
	background-color: rgb(255, 233, 205);
	color: rgba(219, 42, 26, 0.702);

    margin: 1.25em; 
	border-radius: 1.25em;
	display: flex;
	justify-content: center;
}

.oldContent {
	background-color: rgba(255, 205, 205, 0.531);
	color: rgba(219, 42, 26, 0.702);
    padding: 1em; 
    margin: 1.25em; 
	border-radius: 1.25em;

	display: flex;
	justify-content: center;

}

.realWorld {
	background-color: rgba(205, 255, 215, 0.744);
	color: rgba(219, 42, 26, 0.702);
    padding: 1em; 
    margin: 1.25em; 
	border-radius: 1.25em;

	display: flex;
	justify-content: center;

}







a {
	background-color: rgb(240, 195, 48);

    padding: 0.5em; 
    margin-left: 1.25em;
	margin-top: 12.25em;


}

a:link, a:visited {
	color:rgb(26, 87, 219);
	text-decoration:none;

}


a:hover, a:active {
	color:gray;
	text-decoration:none;
}



hr {
	border: 1px solid rgba(219, 42, 26, 0.702);
}
 

.productionDateRight {
	text-align:right;
	vertical-align: bottom;
}
.productionDateLeft {
	text-align:left;
	vertical-align: bottom;
}

.description {
	vertical-align: top;
	font-size:130%;
	
}

th, td {
	padding: 1%;
}



  
/* BACK TO TOPPPP: */

#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 00px; /* Place the button at the bottom of the page */
	left: 0px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgb(240, 195, 48); /* Set a background color */
	color: rgb(26, 87, 219); /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 20px; /* Some padding */
	/* border-radius: 10px; /* Rounded corners */
	font-size: 20px; /* Increase font size */
	font-family:futura, monospace, sans-serif;
  }
  
  #myBtn:hover {
	background-color: rgb(186, 152, 39); /* Add a dark-grey background on hover */
  }

  * {box-sizing:border-box}









  /* SLIDESHOW */







/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 2px;
  width: 30px;
  margin: 9px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}







  /* SLIDESHOW */


.bestwork {
	background-color: rgb(255, 233, 205);
	margin: 0em;
}

