body {
    background-color:rgb(27,29,33) ;
    font-family:futura, monospace, sans-serif;
    scroll-behavior: smooth;


}




h1 {
    color:rgb(245, 245, 245);
    text-align: center;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
    letter-spacing: 4px;
    margin-bottom:0em
  }


h3 {
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  letter-spacing: 4px;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: 0.25em;

  border-radius: 1.25em; 
  border-width: 0em;

}


.header{
	display: flex;
	justify-content: center;
	white-space: nowrap ;
  border-spacing: 25px;
}




  
a {
  text-decoration:none;
  color:rgba(198, 198, 198, 0.702);

}

.button {
  background-color: rgb(27,29,33);
  border:rgb(255, 255, 255); 
  border-style:solid;
  border-width: .1em;;
  padding: 0.5em; 
  font-weight: 100;
	margin-top: 12.25em;
  font-size: 1.2em;
  color:rgb(245, 245, 245);
  transition:color, background-color .5s
}

.button:link, .button:visited {
	color:rgb(255, 255, 255);
	text-decoration:none;

  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  letter-spacing: 1.5px;

}


.button:hover, .button:active {
  background-color: rgb(255, 255, 255);
	color:gray;
	text-decoration:none;
}

 





  
/* START: BACK TO TOP BUTTON: */
/* START: BACK TO TOP BUTTON: */
/* START: BACK TO TOP BUTTON: */


#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 30px; /* Place the button at the bottom of the page */
	right: 40px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */

	border: rgba(198, 198, 198, 0.702); /* Remove borders */
  border-style: solid;
  border-width: .1em;
	outline: none; /* Remove outline */
	background-color: rgba(27,29,33, 1); /* Set a background color */
	color: rgba(198, 198, 198, 0.702); /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 10px; /* Some padding */
	/* border-radius: 10px; Rounded corners */
	font-size: 20px; /* Increase font size */
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  letter-spacing: 1px;
  transition:color .5s
  }
  
  #myBtn:hover {
  border: rgb(255, 255, 255);
  border-style: solid;
  border-width: .1em;
	color: rgb(255, 255, 255); /* Add a dark-grey background on hover */
  }

  * {box-sizing:border-box}

/* END: BACK TO TOP BUTTON: */
/* END: BACK TO TOP BUTTON: */
/* END: BACK TO TOP BUTTON: */










.BestWorksHeader {
	color: rgb(255, 255, 255);
	padding-top: 1.5em;
  padding-bottom: 0em;




}

.aboutMeDescription {
	color: rgb(255, 255, 255);
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  letter-spacing: 1px;
  margin-left: 5em;
  margin-right: 5em;
  line-height:140%;
  font-size:1em;
}





/* START: CUSTOM SCROLLBAR  */ 
/* START: CUSTOM SCROLLBAR  */ 
/* START: CUSTOM SCROLLBAR  */ 
::-webkit-scrollbar {
  width: .1px;
  border-radius: 4px;

  
}


::-webkit-scrollbar-track {
  background: rgb(35,37,41);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 7px;
}
/* END: CUSTOM SCROLLBAR  */ 
/* END: CUSTOM SCROLLBAR  */ 
/* END: CUSTOM SCROLLBAR  */ 








html {
  scroll-behavior: smooth;
}




.gallery {
  border-spacing: 2em;

  }

.gallerycentered {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 2em;
  width: 60%;
}

.gallerymobile{
  display:none;
}

.gallerydata{
  background-color: rgb(45, 48, 52);
	color: rgba(255, 255, 255, .702);

}


.gallerydescription {

  padding:0.7em;
  text-align: center;
	color: rgba(255, 255, 255, .702);
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  letter-spacing: 1px;
}






/* START: FOR LANDING PAGE AUTO VIDEO PLAYER */
/* START: FOR LANDING PAGE AUTO VIDEO PLAYER */
/* START: FOR LANDING PAGE AUTO VIDEO PLAYER */
.hightreelcontainer {
  width: 100%;
  overflow: hidden;
  display: block;

}

#glass {
  margin-top: -8%;
  margin-bottom: -8%;
}
/* END: FOR LANDING PAGE AUTO VIDEO PLAYER */
/* END: FOR LANDING PAGE AUTO VIDEO PLAYER */
/* END: FOR LANDING PAGE AUTO VIDEO PLAYER */








.socials{
  color:white;
  text-decoration:underline lightslategray;
}

.socials:hover {
  background-color: lightslategray;
}







@media screen and (max-width: 600px) {
   
  h1{
    color:rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
    letter-spacing: 4px;
  }

  h3 {
    font-size: 15px;
    margin-top:0px;
  }




  a.button {
    background-color: rgb(27,29,33);
    border:rgb(255, 255, 255); 
    border-style:solid;
    border-width: 1px;
    padding: .3em; 
    font-weight: 100;
    margin-top: 12.25em;
    font-size: 15px;
    color:rgb(245, 245, 245);
    transition:color, background-color .5s;
    
  }


  td.headerdata {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .rowreverse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }


  p.aboutMeDescription {
    color: rgb(255, 255, 255);
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
    letter-spacing: 1px;
    margin-left: 5px;
    margin-right: 5px;
    line-height:140%;
    font-size:12px;
    text-align: center;
	}
  a.prev {
    display: none;
  }
  a.next {
    display: none;
  }

  span.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(208, 207, 207);
    display: inline-block;
    transition: background-color 0.6s ease;
  }



.gallery {
  display:none;
  }
.gallerycentered {
  display:none;
  }
    
.gallerymobile{
  border-spacing: 10px;
  display:block;
}
  
  
  .gallerydata{
    padding: .1em;
    background-color: rgb(45, 48, 52);
    color: rgba(255, 255, 255, .702);
  
    margin-bottom:20px;

  }
  
  
  .gallerydescription {
    font-size:12px;
    text-align: center;
    color: rgba(255, 255, 255, .702);
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
    letter-spacing: 1px;
  }
  


}